:root {
    --light-blue: #91f9fd;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HEADER STYLES START */ 

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-blue);
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/mountains-landscape.jpg);
    z-index: 9999;
    width: auto;
}

header {
    position: sticky; top: 0;
}

header .nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: black;
    justify-content: space-around;
    align-items: center;
}

header .nav ul li a:hover {
    color: chartreuse;
    border-radius: 15px;
    text-shadow: none;
}


header .nav ul li a {
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding: 5px 10px;
    font-size: 2.0vw;
    text-decoration: none;
}

header .nav ul li a span {
    font-weight: 900;
    font-size: 4.0vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    align-items: center;
}

/* HEADER STYLES END */ 





/* HERO STYLES START */ 

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/mountains-landscape.jpg);
}

.profile-pic-circle {
    box-shadow: thistle;
    display: block;
    width: 50%;
}

/* HERO STYLES END */ 

/* ABOUT STYLES START */

.about {
    background-color: darkblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about p {
    color: whitesmoke;
    font-size: 2.00vw;
    text-align: center;
}




/* ABOUT STYLES END */






/* PORTFOLIO STYLES START */ 
.portfolio {
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    justify-content: space-around;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6.0vw;
    font-style: italic;
    margin: 0 auto 20px auto;
    text-align: center;
}

.portfolio-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 30%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px;
    justify-content: flex-end;
    width: 70%;
}

.top-project-container {
    display: flex;
    width: 100%;
    justify-content: center;
    
}


.bottom-project-container {
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
}

.project-1 {
    height: 300px;
    width: 450px;
    box-shadow: 12px 12px 2px 1px rba(0, 0, 255, .2);
}

.project-2,
.project-3,
.project-4,
.project-5 {
    height: 150px;
    width: 225px;
}


/* PORTFOLIO STYLES END */ 







/* RESUME STYLES START */ 

.resume {
    background-image: url(../images/stars.jpg);
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.resume-container {
    width: 60%;
    color: black;
    background-color: wheat;
    text-align: center;
    box-shadow: 6px 6px 2px 1px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px; 
    padding: 10px 5px;
}

/* RESUME STYLES END */ 





/* CONTACT STYLES START */ 


/* CONTACT STYLES END */ 
.contact {
    background-image: url(../images/stars.jpg);
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}

.contact-info,
.contact-form {
    display: block;
    background-color: whitesmoke;
    width: 50%;
    text-align: left;
    box-shadow: 6px 6px 2px 1px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px; 
    margin: 0 40px;
    padding: 10px 20px;
}

.contact-info {
    margin-bottom: 30px;
}
.contact-info h3,
.contact-form h3 {
    text-align: center;
    font-size: 26px;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    padding: 7px;
    font-size: 14px;
    color: gray;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border: 1px solid black;
}

.contact-form button {
    width: 100%;
    border: none;
    background: whitesmoke;
    color: black;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: whitesmoke;
    background: darkblue;
}

/* FOOTER STYLES START */ 

footer {
    background-color: yellowgreen;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    z-index: 10;
    padding: 40px 30px;
}

footer div h4 {
    color: black;
    font-size: 3.00vw;
    margin: 0;
    text-align: right;
}

footer div p {
    color: black;
    font-size: 1.55vw;
    line-height: 1.7;
    text-align: right;
}

section {
    padding: 60px;
}

/* FOOTER STYLES END */ 


.section-title-container-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.section-title-container-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-left: 100px;
}




/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .profile-pic-circle {
        width: 60%;
    }

    .section-title-container-right {
        display: block;
        
        align-items: center;
        justify-content: center;
        width: 30%;
        margin-left: 0;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .profile-pic-circle {
        width: 75%;
    }
}