:root {
    --light-blue: #91f9fd;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLES START */ 

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-blue);
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/mountains-landscape.jpg);
    z-index: 9999;
    width: auto;
}

header {
    position: sticky; top: 0;
}

header .nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: black;
    justify-content: space-around;
    align-items: center;
}

header .nav ul li a:hover {
    color: chartreuse;
    border-radius: 15px;
    text-shadow: none;
}


header .nav ul li a {
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding: 5px 10px;
    font-size: 2.0vw;
    text-decoration: none;
}

header .nav ul li a span {
    font-weight: 900;
    font-size: 4.0vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    align-items: center;
}

/* HEADER STYLES END */ 





/* ABOUT STYLES START */ 

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/mountains-landscape.jpg);
}


.about-card {
    z-index: 5;
}

.about-card p {
    color: whitesmoke;
    font-size: 2.0vw;
    text-align: center;
    font-family: cursive;
}

.profile-pic-circle {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    box-shadow: thistle;

}
/* ABOUT STYLES END */ 







/* PORTFOLIO STYLES START */ 
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

.top-project-container {
    width: auto;
    height: auto;
}

.bottom-project-container {
    width: auto;
    height: auto;
}

.project-2 {
    width: auto;
    height: auto;
}


/* PORTFOLIO STYLES END */ 







/* RESUME STYLES START */ 


/* RESUME STYLES END */ 








/* CONTACT STYLES START */ 


/* CONTACT STYLES END */ 
.contact {
    background-color: thistle;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    background-color: tomato;
    width: auto;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    width: auto;
}

.contact-form > * {
    flex: 1;
    margin: 15px;
}

/* FOOTER STYLES START */ 

.footer {
    margin: 0;
    background-color: yellowgreen;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 10;
}

.footer div h4 {
    color: black;
    font-size: 2.00vw;
}

.footer div p {
    color: whitesmoke;
    font-size: 1.55vw;
}


/* FOOTER STYLES END */ 


.section-title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.section-title {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6.0vw;
    font-style: italic;
    margin: 0 auto 20px auto;
    
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}